/* font */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital@0;1&family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');
/* style.css */
html {
	scroll-behavior: smooth;
	height: 100%;
}
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Aleo', serif;
}
p {
	font-size: 20px;
}
a {
	color: #fff;
}
a:hover {
	color: #ffbc42;
}
.site-wrapper {
	position: relative;
	display: block;
}
.site-wrapper > div {
	min-height: 100vh;
	scroll-margin-top: 160px;
	padding: 0 10% 0;
}
.site-wrapper > div > div {
	width: 80%;
	margin: 0 auto;
}
.site-wrapper img{
	width: 100%;
}
nav {
	position: sticky;
	top: 40px;
	background: #005b8d;
	border-radius: 10px;
	margin: 0 auto;
	width: 80%;
}
nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
nav ul, nav ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
nav ul li a {
	display: block;
	padding: 20px 10px;
}
.bice-blue {
	background: #006ba6;
	color: #fff;
}
.dodger-blue {
	background: #0496ff;
	color: #fff;
}
.raspberry {
	background: #d81159;
	color: #fff;
}
#intro {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.portfolio-item {
	display: flex;
	flex-wrap: wrap;
}
.portfolio-img {
	width: 52%;
}
.portfolio-writeup {
	width: 46%;
	padding: 0 0 0 2%;
}
.portfolio-writeup p {
	font-size: 18px;
}
.portfolio-writeup span {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 2px 4px;
	font-style: italic;
	font-size: 16px;
	line-height: 2;
}