@use '../variables/colors' as color;

nav {
	position: sticky;
	left: 0;
	top: 0;
	background: color.$harvest-gold;
	margin: 0;
	width: 15%;
	height: 100vh;

	ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			margin: 0;
			padding: 0;

			a{
				color: color.$black;
				display: block;
				padding: 1em;

				&:hover {
					color: color.$white;
					background: rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}