@use '../variables/colors' as color;

.theme-blue {
	background: linear-gradient(to right, rgba(color.$oxford-blue, 0.98) 50%, color.$oxford-blue 50%);
	color: color.$grey-eee;
}
.theme-oxford-blue {
	background: linear-gradient(to right, color.$oxford-blue 50%, rgba(color.$oxford-blue, 0.98) 50%);
	color: color.$grey-eee;
}
.theme-portfolio {
	background: linear-gradient(to right, color.$cerulean 50%, color.$indigo-dye 50%);
	color: color.$grey-eee;
}
.theme-raspberry {
	background: color.$raspberry;
}