// colors
$white: #fff;
$grey-eee: #eee;
$grey-ddd: #ddd;
$grey-ccc: #ccc;
$grey-aaa: #aaa;
$grey-888: #888;
$grey-666: #666;
$grey-444: #444;
$grey-222: #222;
$black: #1f1f1f;

// brand colors
$oxford-blue: #001d4a;
$indigo-dye: #27476e;
$cerulean: #006992;
$harvest-gold: #eca400;
$bittersweet: #ee6352;
$raspberry: #d81159;